<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} - {{ site.tagline }}
    {% else %}
      {{ page.title }} | {{ site.title }} - {{ site.tagline }}
    {% endif %}
  </title>

  <meta name="author" content="{{ site.author.name }}">
  <meta name="description" content="{{ site.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <!-- build:template
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300|Montserrat:700,400">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css">
  <link rel="stylesheet" href="<%= appcss %>">
   -->
   <!-- build:remove -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300|Montserrat:700,400">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/css/ocean-dark.css">
  <link rel="stylesheet" href="{{ site.baseurl }}assets/lib/octicons/octicons/octicons.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}assets/lib/font-awesome/css/font-awesome.min.css">
  <!-- /build -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>


  {% include header.html %}

  <div class="content-wrapper">
    <div class="sidebar" role="complementary">
      {% include sidebar.html %}
    </div>

    <div class="content" role="main">
      <div class="page-heading">
        <div class="page-heading-col">
          <h1>
            <span>{{ page.title }}</span>
            <small>{{ page.lead }}</small>
          </h1>
        </div>

        <div class="page-heading-col page-heading-crumb">
          {% if page.title != "Dashboard"  %}
          <ol class="breadcrumb pull-right">
            <li><a href="{{ site.baseurl }}dashboard">Dashboard</a></li>
            <li>{{ page.title }}</li>
          </ol>
          {% endif %}
        </div>
      </div>
      {{ content }}
    </div>
  </div><!-- end of .content-wrapper -->

  <footer>
    {% include footer.html %}
  </footer>

  <!-- jQuery -->
  <!-- build:js //code.jquery.com/jquery-2.1.1.min.js -->
  <script src="{{ site.baseurl }}assets/lib/jquery/dist/jquery.min.js"></script>
  <!-- /build -->

  <!-- build:js //maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js -->
  <script src="{{ site.baseurl }}assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- /build -->

  <!-- Your application Javasscript goes here  -->
  <script src="{{ site.baseurl }}assets/js/app.js"></script>

</body>
</html>