<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Login Page | Base16 Admin - Just another Bootstrap admin template
    </title>
    <meta name="author" content="Pongstr Ordillo">
    <meta name="description" content="Just another Bootstrap admin template.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300|Montserrat:700,400">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.1.2/octicons.min.css">
    <link rel="stylesheet" href="/assets/css/ocean-dark.min.less">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
    <div class="cover">
      <div class="cover-inner">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 base16-login">
              <h1>Welcome Back!</h1>
              <small>Please sign in to go to your dashboard.</small>
              <div class="btn-group-socialmedia">
                <a class="btn btn-sm btn-github" href="#">
                  <i class="fa fa-github"></i> &nbsp; Github
                </a>
                <a class="btn btn-sm btn-facebook" href="#">
                  <i class="fa fa-facebook"></i> &nbsp; Facebook
                </a>
                <a class="btn btn-sm btn-google" href="#">
                  <i class="fa fa-google-plus"></i> &nbsp; Google+
                </a>
                <a class="btn btn-sm btn-twitter" href="#">
                  <i class="fa fa-twitter"></i> &nbsp; Twitter
                </a>
              </div>
              <form role="form">
                <div class="form-group">
                  <label for="login-username">Username or Email</label>
                  <input type="text" class="form-control input-lg" id="login-username" name="login-username">
                </div>
                <div class="form-group">
                  <label for="login-password">Password</label>
                  <input type="password" class="form-control input-lg" id="login-password" name="login-password">
                </div>
                <div class="form-group">
                  <small class="help-block pull-right">
                    <a href="#">Having trouble signing in?</a>
                  </small>
                  <label for="login-remember">
                    <input type="checkbox" id="login-remember" name="login-remember"> Remember me
                  </label>
                </div>
                <br>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary hidden-xs pull-right" type="submit">
                    Sign In
                  </button>
                  <button class="btn btn-lg btn-block btn-primary visible-xs" type="submit">
                    Sign In
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>