

  <div class="commits-container">
    <div class="group-list-container">
      <div class="group-list-title">
        <span class="octicon octicon-git-commit"></span> &nbsp; <span>Commits on Sep 09, 2014</span>
      </div>
      <ol class="group-list">
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars1.githubusercontent.com/u/962502?v=2&amp;s=72" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Vivamus convallis ligula sem, vitae accumsan lacus</a> <a class="issue-link" href="#">#64</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand="true">
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars0.githubusercontent.com/u/1888261?v=2&amp;s=120" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Nam sit amet</a> <a class="issue-link" href="#">#66</a> <a class="message-link" href="#">consectetur arcu, vitae</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand>
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars1.githubusercontent.com/u/962502?v=2&amp;s=72" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Vivamus convallis ligula sem, vitae accumsan lacus</a> <a class="issue-link" href="#">#64</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand="true">
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars0.githubusercontent.com/u/1888261?v=2&amp;s=120" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Nam sit amet</a> <a class="issue-link" href="#">#66</a> <a class="message-link" href="#">consectetur arcu, vitae</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand>
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
      </ol>

      <div class="group-list-title">
        <span class="octicon octicon-git-commit"></span> &nbsp; <span>Commits on Sep 09, 2014</span>
      </div>
      <ol class="group-list">
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars1.githubusercontent.com/u/962502?v=2&amp;s=72" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Vivamus convallis ligula sem, vitae accumsan lacus</a> <a class="issue-link" href="#">#64</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand="true">
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars0.githubusercontent.com/u/1888261?v=2&amp;s=120" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Nam sit amet</a> <a class="issue-link" href="#">#66</a> <a class="message-link" href="#">consectetur arcu, vitae</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand>
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars1.githubusercontent.com/u/962502?v=2&amp;s=72" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Vivamus convallis ligula sem, vitae accumsan lacus</a> <a class="issue-link" href="#">#64</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand="true">
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
        <li class="group-list-item">
          <div class="group-list-avatar">
            <img src="https://avatars0.githubusercontent.com/u/1888261?v=2&amp;s=120" alt="">
          </div>
          <div class="group-list-body">
            <h5 class="group-list-body-title">
              <a class="message-link" href="#">Nam sit amet</a> <a class="issue-link" href="#">#66</a> <a class="message-link" href="#">consectetur arcu, vitae</a>
              <span class="text-expander inline"><a href="#" data-toggle="expander">…</a></span>
            </h5>
            <p class="group-list-body-meta">
              <a class="author-link" href="#">pongstr</a> <span>authored 10 hours ago</span>
            </p>
            <p class="group-list-body-desc" data-expand>
               Duis ex arcu, pulvinar at volutpat nec, posuere ut dui. Vivamus ullamcorper
            </p>
          </div>
          <div class="group-list-links">
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-clippy"></i>
              </a>
              <a href="#">
                <i class="sha-icon octicon octicon-diff"></i>
              </a>
            </div>
            <div class="group-list-btn-group">
              <a href="#">
                <i class="octicon octicon-code"></i>
              </a>
            </div>
          </div>
        </li>
      </ol>
    </div>

    <div class="text-center">
      <div class="group-list-btn-group group-list-btn-group-large">
        <a href="#">
          <span class="octicon octicon-arrow-left"></span>
        </a>
        <a href="#">
          <span class="octicon octicon-arrow-right"></span>
        </a>
      </div>
    </div>
  </div>