
  <header>
    <div class="brand-heading">
      <button class="navbar-btn" data-toggle="offcanvas" data-target=".sidebar, .content">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="brand">
        <a href="{{ site.baseurl }}">{{ site.title }}</a>
      </h1>
    </div>
    <div class="brand-navigation">
      <nav class="navbar navbar-default" role="navigation">
      </nav>
    </div>
  </header>