
// Container Structure
// -------------------------

.commits-container {
  @include clearfix();
  padding: 0;

  @media (min-width: 992px),
         (max-width: 1200px) {
    margin-left:  (@container-gutter-width / 2);
    margin-right: (@container-gutter-width / 2);
    padding: ((@container-gutter-width / 2) - 5);
  }

  @media (min-width: 1000px),
         (min-width: 1200px) {
    width: @container-width;
    margin-left: auto;
    margin-right: auto;
  }
}