---
layout: cover
title: "Sign Up Page"
---
  {% comment %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3 text-center base16-login">
        <h1>Sign Up!</h1>
        <small>A single username and password gets you into everything awesome.</small>

        <div class="btn-group-socialmedia">
          <a class="btn btn-sm btn-github" href="#">
            <i class="fa fa-github"></i> &nbsp; Github
          </a>
          <a class="btn btn-sm btn-facebook" href="#">
            <i class="fa fa-facebook"></i> &nbsp; Facebook
          </a>
          <a class="btn btn-sm btn-google" href="#">
            <i class="fa fa-google-plus"></i> &nbsp; Google+
          </a>
          <a class="btn btn-sm btn-twitter" href="#">
            <i class="fa fa-twitter"></i> &nbsp; Twitter
          </a>
        </div>

        <form action="/layouts/{{ page.title | downcase | replace: ' ', '-' }}-error" role="form">
          <h3 class="page-header text-left">
            Create an Account
          </h3>

          <div class="form-group">
            <label class="sr-only" for="signup-username">Username</label>
            <input type="text" class="form-control input-lg" placeholder="Username" id="signup-username" name="signup-username" required>
          </div>

          <div class="form-group">
            <label class="sr-only" for="signup-email">Email Address</label>
            <input type="email" class="form-control input-lg" placeholder="Email Address" id="signup-username" name="signup-email" required>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="sr-only" for="signup-password">Password</label>
                <input type="password" class="form-control input-lg" placeholder="Password" id="signup-password" name="signup-password" required>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="sr-only" for="signup-password-2">Confirm Password</label>
                <input type="password" class="form-control input-lg" placeholder="Confirm Password" id="signup-password-2" name="signup-password-2" required>
              </div>
            </div>

            <div class="col-sm-12">
              <small class="help-block text-left">&nbsp; Passwords must be 8 characters or more.</small>
            </div>
          </div>

          <hr>

          <div class="form-group text-left">
            <label for="signup-agree">
              &nbsp;<input id="signup-agree" name="signup-agree" type="checkbox" required> <small>By signing up, you agree to our </small>
            </label>
            <small>
              <a href="#">terms of use</a> and <a href="#">privacy policy</a>.
            </small>
          </div>

          <div class="form-group text-center">
            <button class="btn btn-lg btn-info" type="submit">&nbsp; &nbsp; Sign Me Up! &nbsp; &nbsp;</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endcomment %}

  {% include layouts/signup.html %}